*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #ffffff;
    color: #ffffff;
}

header {
    text-align: center;
    color: #ffffff;
    background-color: #df7335;
    padding: 5px;
    margin: 5px;
}

ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

#menu li{
    display: inline-block;
    background-color: #ffffff;
    text-decoration: none;
    background-color: #F9F4F1;
    text-transform: uppercase;
    width: 180px;
    height: 30px;
    text-align: center;
    font-weight: 600;
    border-radius: 40px;
    font-size: 15px;
    text-align:center;
    padding-top: 12px;
}

#selfie {
    display: block;
    margin-top: 45pt;
    margin-left: auto;
    margin-right: auto;
    border: 3px  #ffffff;
    border-style: solid;
    border-radius: 50%;
    padding: 5px;
    width: 120pt;
}

a {
    text-decoration: underline;
}

main {
    background-color: #df7335;
    font-size: 20px;
    border: 3px #ffffff;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.title {
    font-size: 30px;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.dots {
    border-top: 5px double #ffffff;
}

footer {
    background-color: #df7335;
    padding: 5px;
    margin: 5px;
}


